.carousel-indicators li {
    background-color: #fff;
    width: 1vw;
    height: 2vh;
    border-radius: 50%;
    margin-top: 1vh;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}

.carousel-indicators .active {
    background-color: rgb(148, 226, 148);
}

.carousel-caption {
    position: absolute;
    top: 20vh;
}

.sign-up {
    padding-top: 30vh;
    padding-bottom: 5vh;
    margin-bottom: 40vh;
}

.sign-form {
    margin-right: 20vw;
    margin-left: 20vw;
}

#inputEmail {
    width: 30vw;
}


/* --- Footer and company details --- */

.jikota-img {
    display: flex;
    align-items: center;
}

.company-details {
    margin-top: 5vh;
}

.company-details ul li:first-child {
    font-weight: bold;
    border-bottom: 1px solid grey;
    border-bottom-style: inset;
}

.company-details ul {
    list-style: none;
    margin-right: -3vw;
    margin-left: -3vw;
}

.social-icons li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.social-icons a {
    color: #000;
    text-decoration: none;
}

.btn-social-icon {
    display: inline;
}

.footer {
    display: flex;
    align-items: center;
}

.footer-nav li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-nav a {
    color: #000;
    text-decoration: none;
}