.position-relative {
    position: relative;
    top: -40vh;
    padding-top: 20px;
    margin-bottom: -20vh;
}

.map {
    height: 40%;
}

.fa-map-marker,
.fa-phone,
.fa-envelope-o {
    color: #fff;
}

.float-right {
    float: right;
}

.jikota-img {
    display: flex;
    align-items: center;
}

.company-details ul li:first-child {
    font-weight: bold;
    border-bottom: 1px solid grey;
    border-bottom-style: inset;
}

.company-details ul {
    list-style: none;
    margin-right: -3vw;
    margin-left: -3vw;
}

.social-icons li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.social-icons a {
    color: #000;
    text-decoration: none;
}

.btn-social-icon {
    display: inline;
}

.footer {
    display: flex;
    align-items: center;
}

.footer-nav li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-nav a {
    color: #000;
    text-decoration: none;
}

.contact-info h4 {
    color: white;
}

.contact-info td {
    color: white;
    font-size: 14px;
}