#bugReport {
    margin-bottom: -3vh;
}

#shortMessage {
    font-size: 14px;
}

#emailInput {
    margin-top: -3vh;
}

.messageConfirm {
    margin-left: 30vw;
    margin-right: 30vw;
}

hr.style {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.jikota-img {
    display: flex;
    align-items: center;
}

.company-details ul li:first-child {
    font-weight: bold;
    border-bottom: 1px solid grey;
    border-bottom-style: inset;
}

.company-details ul {
    list-style: none;
    margin-right: -3vw;
    margin-left: -3vw;
}

.social-icons li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.social-icons a {
    color: #000;
    text-decoration: none;
}

.btn-social-icon {
    display: inline;
}

.footer {
    display: flex;
    align-items: center;
}

.footer-nav li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-nav a {
    color: #000;
    text-decoration: none;
}