.about-header {
    color: #fff;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #05668D;
    padding-left: 50px;
    padding-right: 50px;
}

.img-overlay {
    float: right;
    position: relative;
}

.laptop-frame {
    margin-bottom: -100px;
    height: 40vh;
    width: 30vw;
}

.laptop-inner {
    margin-bottom: -100px;
    height: 32vh;
    width: 23.1vw;
}

.img-child {
    top: 15px;
    left: 47px;
    position: absolute;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title {
    text-align: center;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

.thead {
    border-bottom: 1px solid;
}

.jikota-img {
    display: flex;
    align-items: center;
}

.social-icons li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.social-icons a {
    color: #000;
    text-decoration: none;
}

.btn-social-icon {
    display: inline;
}

.footer {
    display: flex;
    align-items: center;
}

.footer-nav li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-nav a {
    color: #000;
    text-decoration: none;
}

.contact-info h4 {
    color: white;
}

.contact-info td {
    color: white;
    font-size: 14px;
}